{# Récupération de la base #}
{% extends 'base.html.twig' %}

{# On définit le titre de la page #}
{% block title %}
	{{title|default('Nos séries')}}
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<header class="mt-4">
			<h1 class="text-center mb-5 display-4">{{title|default('Nos séries')}}</h1>
			{# {% if games[0]['pegi'] is defined %}
				<div class="d-flex justify-content-center" style="width:100%">
					<img src="/images/pegi/{{games[0]['pegi']}}" alt="image pegi" style="height:100px; width:auto; object-fit:contain" class="mb-3">
				</div>
			{% endif %} #}
			
		</header>

		{% for serie in series %}
			<div>
				{{ serie.title}}
			</div>			
		{% endfor %}

		{# <div class="game-grid">
			{% for game in games %}
				{% include 'components/_game_card.html.twig' with {'game': game} %}
			{% endfor %}
		</div> #}
	</div>

{% endblock %}
