{% extends 'base.html.twig' %}

{% block title %}Index auteur(s){% endblock %}

{% block body %}

    <div class="game-list-container">

        {% include "components/_dashboard_button.html.twig" %}

        <h1>Gestion des auteurs</h1>
        <a href="{{path('app_author_new')}}" class="add-game-btn">Ajouter un auteur</a>

        {% include "/components/_table_author.html.twig" with {
            'title': 'Auteurs',
            'authors': authors
        } %}

        <a href="{{path('app_author_new')}}" class="add-game-btn">Ajouter un auteur</a>

    </div>

{% endblock %}
