<div class="game-card">
	<img src="{{asset('images/' ~ book.imagePath)}}" alt="{{book.title}}" class="game-image">
	<div class="game-info">
		<h2 class="game-title">{{book.title}}</h2>
		<div class="game-info-container">
			<a href="{{path('app_detail_book', {'id': book.id})}}" class="btn btn-detail">Voir détail</a>
		</div>
	</div>
</div>
