{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block body %}
    <h1>Créer un nouveau livre</h1>

    {{ include('book/_form.html.twig') }}

    <div class="action-buttons">
        <a href="{{ path('app_book_index') }}" class="btn btn-back">
                    <i class="fas fa-arrow-left"></i>
                    Retour à la liste
        </a>
    </div>
{% endblock %}
