{% extends 'base.html.twig' %}

{% block title %}Index éditeur{% endblock %}

{% block body %}
    <div class="game-list-container">

        {% include "components/_dashboard_button.html.twig" %}

        <h1>Gestion des éditeurs</h1>
        <a href="{{path('app_editor_new')}}" class="add-game-btn">Ajouter un éditeur</a>

        {% include "/components/_table_editor.html.twig" with {
            'title': 'Éditeurs',
            'editors': editors
        } %}

        <a href="{{path('app_editor_new')}}" class="add-game-btn">Ajouter un éditeur</a>

    </div>
{% endblock %}
